
*.log

*.zip
# *.csv
.vscode/settings.json
.vscode/launch.json
*.pyc
.DS_Store

Experiments/Bike_Sharing/data_outputs/stochastic_FP_outputs/G_samples

Algorithms/WDHA_Kim/implementation2D/.DS_Store
Experiments/Bike_Sharing/.DS_Store
Experiments/Bike_Sharing/bike_sharing_dataset/.DS_Store
Experiments/Bike_Sharing/build/.DS_Store
Experiments/Synthetic_Generation/.DS_Store

# CWB temporary outputs
cwb_tmp/
Algorithms/CWB_Li/cwb_tmp/

# Experiment results
result/
results/
Algorithms/CWB_Li/result/
Algorithms/CWB_Li/results/
log_dir/

# BFM 
bfm/

# binary
Experiments/Bike_Sharing/bike_sharing_PoissonGLM
Experiments/.DS_Store
